.container {
  position: fixed;
  background-color: white;
  z-index: 10;
  width: 100%;
  top: 0;
  flex: 1;
  box-shadow: 8px 8px 30px 0px #7756fe1f;
}

.navigation_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation_item {
  display: flex;
  align-items: center;
}

.navigation_image_text {
  margin-left: 30px;
}

.navigation_item_logo {
  display: flex;
  align-items: center;
}

.navigation_item_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 30%; */
}

.navigation_item_links a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b0b3acc;
}

.navigation_item_button {
  color: #1b0b3a;
  border: 3px solid #1b0b3a;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 60px;
  animation: breathe_button 1s ease-in-out 0s infinite;
}

.navigator {
  display: none;
}
.mobile_navigation_item {
  display: none;
}
.mobile_navigator {
  cursor: pointer;
  border-radius: 8px;
  animation: breathe_button 1s ease-in-out 0s infinite;
}

.progress_bar {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #1b0b3a;
  border-radius: 10px;
  transform-origin: 0%;
  /* z-index: 30; */
}

@media (max-width: 900px) {
  .navigator {
    display: block;
  }
  .navigation_item {
    display: none;
  }
  .mobile_navigation_item {
    display: block;
  }
  .mobile_navigation_item_links a {
    text-decoration: none;
    color: #1b0b3acc;
    text-align: center;
  }
  .mobile_navigation_item_links p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mobile_navigation_item_button {
    color: #1b0b3a;
    border: 3px solid #1b0b3a;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
  }
  .mobile_navigation_item_button_container {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@keyframes breathe_button {
  0% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 0 #1b0b3acc, 0 0 0 2px #1b0b3acc,
      0 0 0 0px #1b0b3acc;
  }
  20% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 2px #1b0b3acc, 0 0 0 4px #1b0b3acc,
      0 0 0 2px #1b0b3acc;
  }
  40% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 4px #1b0b3acc, 0 0 0 8px #1b0b3acc,
      0 0 0 4px #1b0b3acc;
  }
  60% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 6px #1b0b3acc, 0 0 0 10px #1b0b3acc,
      0 0 0 8px #1b0b3acc;
  }
  80% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 8px #1b0b3acc, 0 0 0 12px #1b0b3acc,
      0 0 0 10px #1b0b3acc;
  }
  100% {
    box-shadow: 0 2px 6px #1b0b3acc, 0 0 0 10px #1b0b3acc, 0 0 0 14px #1b0b3acc,
      0 0 0 12px #1b0b3acc;
  }
}

/* @keyframes breathe_border_button_2 {
  0% {
    width: 145px;
    height: 52px;
    border: 1px solid #1b0b3a;
  }
  20% {
    width: 155px;
    height: 58px;
    left: -5px;
    top: -5px;
    border: 3px solid #1b0b3a;
  }
  40% {
    width: 165px;
    height: 64px;
    top: -8px;
    left: -10px;
    border: 3px solid #1b0b3a;
  }
  60% {
    width: 175px;
    height: 70px;
    top: -10px;
    left: -15px;
    bottom: 15px;
    border: 3px solid #1b0b3a;
  }
  80% {
    width: 185px;
    height: 76px;
    left: -20px;
    top: -12px;
    border: 3px solid #1b0b3a;
  }
  90% {
    width: 195px;
    height: 82px;
    left: -25px;
    top: -14px;
    border: 3px solid #1b0b3a;
  }
  100% {
    width: 145px;
    height: 52px;
  }
} */
